*~
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
.idea/.gitignore
.idea/customTargets.xml
.idea/deployment.xml
.idea/makefile.xml
.idea/misc.xml
.idea/os.iml
.idea/vcs.xml